###OSX###
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
._*
.Spotlight-V100
.Trashes
.DS_Store
.AppleDouble
.LSOverride

###Bower###
build/
vendor/
node_modules/

###SASS###
.sass-cache
*.css.map

###Compass###
.sass-cache


###SublimeText###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-project
*.sublime-workspace
sftp-config.json